aiofiles
faiss-cpu
fastapi
html2text
httptools
nltk
numpy
pandas
psycopg2-binary
pydantic
scikit-learn
sentry-sdk
tensorflow
tensorflow-hub
uvicorn
uvloop
pinecone-client
sentence-transformers
tensorflow-text